@model AspNetMVCCheckRegister.Models.WebUser

@{
  ViewBag.Title = "Transaction";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

  @Html.ValidationSummary(true, "Invalid transaction, please try again.");
  <div>
    <h2>Login</h2>
    <div class="editor-label">
      @Html.LabelFor(u => u.SelectedTransactionType)
    </div>
    <div>
      @Html.EnumDropDownListFor(u => u.SelectedTransactionType, new { @class = "form-control" })
    </div>
    <div class="editor-label">
      @Html.LabelFor(u => u.TransactionRequest.Amount)
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(u => u.TransactionRequest.Amount)
      @Html.ValidationMessageFor(u => u.TransactionRequest.Amount)
    </div>
    <br />
    <input type="submit" value="Create Transaction And See Transactions" class="btn btn-success" />
  </div>
}

