@model AspNetMVCCheckRegister.Models.WebUser

@{
  ViewBag.Title = "Transactions";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
  .Deposit { background-color: #66ffc2; }
  .Withdrawal { background-color: #ff9999; }
</style>

<div id="transactionsContent" class="body-content">
  <h1>Transactions and Summary</h1>
@if (Model?.Transactions != null && (Model?.Transactions?.Any() ?? false))
{
  <table id="transactionsTable" class="table" cellpadding="2" >
    <thead class="thead">
      <tr>
        <th>TransactionId</th>
        <th>TransactionType</th>
        <th>Amount</th>
        <th>Created</th>
        <th>RunningTotal</th>
      </tr>
    </thead>
    @foreach (var tran in Model?.Transactions)
    {
      <tr class="@tran.TransactionType">
        <td>@tran.TransactionId</td>
        <td>@tran.TransactionType</td>
        <td>@tran.Amount</td>
        <td>@tran.Created</td>
        <td>@tran.RunningTotal</td>
      </tr>
    }
  </table>
  <div class="panel-footer caption">
    <h2 id="transactionsSummary"></h2>
  </div>
}
else
{
  <h2>You currently have no transactions</h2>
}
  <div id="msgid"></div>
  <script src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script src="~/Scripts/transactions.js"></script>
</div>

